body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#BackgroundDiv {
    position: fixed; 
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    background-color: var(--bg-main);
    z-index: 0;
	object-fit: fill;
}

#GrassDiv {
    position: fixed;
    bottom: 0px;
    left: 0;
    width: auto;
    height: auto;
    z-index: 3;
}

#Plant1Div img {
    position: fixed;
    bottom: 10%;
    left: 45%;
    width: 10%;
    height: auto;
    z-index: 1;
}

#GrassDiv img,
#BackgroundDiv img{
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
	max-width: 100%;
    max-height: 100%;
    object-fit: fill;
}

#score {
    position: fixed;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    z-index: 2;
    font-size: 2em;
    color: var(--text-main);
    font-family: 'Press Start 2P', cursive;
}

#HeartDiv img {
    position: fixed;
    top : 2%;
    left: 93%;
    width: 5%;
    height: auto;
    z-index: 5;
    object-fit: scale-down;

}


#HeartDiv2 img {
    position: fixed;
    top : 2%;
    left: 87%;
    width: 5%;
    height: auto;
    z-index: 5;
    object-fit: scale-down;

}

#HeartDiv3 img {
    position: fixed;
    top : 2%;
    left: 81%;
    width: 5%;
    height: auto;
    z-index: 5;
    object-fit: scale-down;

}